*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#clock-container{
    position: relative;
    margin: auto;
    margin-top: 5%;
    background: url(clock.png);
    background-repeat: no-repeat;
    height: 40vw;
    width: 40vw;
    background-size: 100%;
}

#hour, 
#minute, 
#second{
    position: absolute;
    background-color: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour{
    height: 24%;
    width: 2%;
    top: 26.5%;
    left: 48.7%;
    opacity: 0.8;

}

#minute{
    height: 30%;
    width: 2%;
    top: 20.5%;
    left: 48.7%;
    opacity: 0.8;
   
}

#second{
    height: 32%;
    width: 1%;
    top: 18.2%;
    left: 49.2%;
    opacity: 0.8;
}